<%- include("./parts/header.ejs")  %> 
<% var productUser %> 

<section>
    <div class="container mt-4"> 
                
                <table class="table table-bordered table-striped table-info">
                    <thead>
                        <tr>
                            <td><h3>Foydalanuvchi </h3></td>
                            <td></td>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Foydalanuvchi nomi</td>
                            <td>
                                <%= productUser.owner_id.name  %> 
                            </td>
                        </tr>

                        <tr>
                            <td>Foydalanuvchi raqami</td>
                            <td>
                                <%= productUser.owner_id.phone  %> 
                            </td>
                        </tr>

                        <tr>
                            <td>Foydalanuvchi emaili</td>
                            <td>
                                <%= productUser.owner_id.email  %> 
                            </td>
                        </tr> 
                        
                    </tbody>  
                </table>

                <h4 class="text-center mt-5">
                    Foydalanuvchi e'lonlari
                </h4>


                 
                
        </div>
    </div>
</section>




<%- include("./parts/footer.ejs")  %> 