<%- include("./parts/header.ejs")  %> 
<% var detail = detail || {} %> 
<% var adsOwner = adsOwner || {} %> 


<section>
    <div class="container mt-4">
        <div class="row mt-5">
            <div class="col-lg-6">
                <img src="/files/<%= detail.photo %> "  class="w-100">
            </div>

            <div class="col-lg-6">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> 
                            </th>

                            <th>
                                
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                           <td>
                               Nomi
                           </td>
                           <td>
                            <h4 class="text-danger">
                                <%= detail.name  %> 
                            </h4> 
                           </td>
                        </tr>

                        <tr>
                            <td>
                                Narxi
                            </td>
                            <td>
                                <p class=" h4">
                                    <span class="text-primary"> </span> <%= detail.price  %> so'm
                                </p>
                
                            </td>
                         </tr>

                         <tr>
                            <td>
                                Ta'rifi
                            </td>
                            <td>
                                <p class="">
                                    <%= detail.content  %> 
                                </p>
                
                            </td>
                         </tr>

                         <tr>
                            <td>
                                Raqami
                            </td>
                            <td>
                                <a href="tel:<%= detail.phone%> " class="btn btn-success">
                                    Telefon qilish
                                </a>
                
                            </td>
                         </tr>
                         <tr>
                            <td>
                                Elon egasi
                            </td>
                            <td>
                                <a href="/user/<%= detail.owner_id._id%> " class="btn btn-info">
                                     Ads Owner
                                </a>
                
                            </td>
                         </tr>
 
                    </tbody>
                </table> 

               
            </div>
        </div>
    </div>
</section>




<%- include("./parts/footer.ejs")  %> 