<%- include("./parts/header.ejs")  %> 
<% var list = list || [] %> 
<% var productsList = productsList || [] %> 

   

<section class="mt-4">
    <div class="container">
        <h3 class="text-center">
            Kategoriyalar
        </h3>

        <div class="row mt-3 gy-3">
            <% if(list) { %> 
               <% for(let item of list) { %> 
                    <div class="col-lg-3">
                        <div class="card" style="width: 16rem;">
                            <img src="/images/<%=item.photo%>" class="card-img-top" style="height: 170px" alt="photo">
                            <div class="card-body">
                            <h5 class="card-title"><%= item.name%> </h5>  
                            </div>
                        </div>
                    </div>
                <% } %> 
             <% } %> 
        </div>
        
    </div>
</section>

<main class="mt-4">
    <div class="container">
        <h3 class="text-center text-info">
            Eng yangi mahsulotlar   
        </h3>


        <div class="row mt-3 gy-3"> 
               <% for(let item of productsList.reverse()) { %> 
                    <div class="col-lg-4">
                        <div class="card" style="width: 19rem;">
                           <div class="w-100 " style="height: 200px;" >
                            <img src="/files/<%=item.photos[0]%>" class="card-img-top" style="max-height: 100%; max-width: 100%; object-fit: contain;" alt="photo">
                           </div>
                            <div class="card-body">
                                <h4 class="text-danger">
                                   Narxi: <%= item.price  %> 
                                </h4>
                            <h5 class="card-title"><%= item.name%> </h5>  
                            <p class="card-text"><%= item.content  %> </p>

                            <a href="/details/<%= item._id%>" class="btn btn-primary">
                                Batafsil
                            </a>
                            </div>
                        </div>
                    </div>
                <% } %>  
        </div>
    </div>
</main>
 


<%- include("./parts/footer.ejs")  %> 







